*{
  margin:0;
  padding:0;
}
.header{
  background-color: purple;
  padding:15px;
  text-align: center;
  color: white;
  font-size: 3rem;
}
.card{
  background-color: #ffda77;
  box-shadow: 2px 4px 4px gray;
  border-radius: 5px;
  margin:10px;
  padding:10px;
  width:390px;
  height:200px;
  position:relative;
  left:40%;
}
.mark{
  background-color:blueviolet;
  margin-top:30px;
  margin-left:50px;
  width:300px;
  height:150px;
  border:1px solid palegoldenrod;
  border-radius: 5px;
}
.mark h1{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color:chocolate;
  font-size: 3rem;
}
.mark div{
  display: flex;
  justify-content: space-between;
  margin-left:5px;
  margin-right: 5px;
  padding:5px;
}
.mark div button{
  width:125px;
  height:40px;
  border-radius: 50px;
  background-color: coral;
}
